:root {
  --text: rgba(255, 255, 255, 0.87);
  --bg: #242424;
  --bg: linear-gradient(180deg, #000611 0%, #002E69 100%);
  --bg-box: #000000;

  color-scheme: light dark;
  background: var(--bg);
  color: var(--text);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:global(body) {
  min-height: 100vh;
}

:global(text) {
  fill: var(--text);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #213547;
    --bg: #fff;
    --bg-box: #efefef;
  }
}